<div class="topics_container row">

  <div class="topics_stories col-xs-12 col-sm-6 col-md-6">
    <% @topic.stories.where(story_type: "RSNH").each do |story| %>
    <div class='trending story_container' id="rss_topics">
      <h2><%= story.body.html_safe %></h2>
    </div>
    <% end %>
  </div>
  <div class="topics_tweets col-xs-12 col-sm-4 col-md-3">
      <div class="twitter_container">
        <% @topic.stories.where(story_type: "TW10").last(10).each do |story| %>
        <blockquote class="twitter-tweet" data-link-color="#55acee" lang="en">
            <%= story.body.html_safe %>
        </blockquote>
        <% end %>
      </div>
    </div>

  <div class=" col-xs-12 col-sm-4 col-md-2">
    <h2>TOP HASHTAGS</h2>
    <div class='story_container'>
      <% @tophashtags.each do |tag| %>
      <h4><a href='https://twitter.com/search?q=%23<%=tag[0]%>' target='_$'>#<%=tag[0]%></a></h4>
<%end%>
    </div>
    <h2>Buzzwords</h2>
    <div class='story_container'>
      <% @topkeywords.first(5).each do |word| %>
        <h4><%= word[0] %></h4>
        <%end%>
    </div>
    <h2>Head Words</h2>
    <div class='story_container'>
      <% @topheadlines.first(5).each do |word| %>
        <h4><%= word[0] %></h4>
        <%end%>
    </div>
</div>
</div>
