<body class="dashboard_layout">

  <!-- Header -->
  <div class="dash-header">
    <!-- <p>Dashboard</p> -->
  </div>

  <div class="container" style="width: 100% !important; overflow-y: scroll !important;">
    <div class="row">
      <!-- Twitter Feed -->
      <div class="tweets col-md-4">
        <div class="title">
          <h1>Twitter Feed</h1>
        </div>

        <div class="tweet-border" style="height: 64vh;">

          <% Soc_med.last(20).each do |sm| %>
          <div class="dash_tweets handle" storyType="TW" tID="<%= sm.t_id %>" tweetersID="<%= sm.tweeters_id %>">
            <blockquote class="twitter-tweet" data-link-color="#55acee" lang="en">
              <a href="https://twitter.com/<%=sm.tweeters_id%>/status/<%=sm.t_id%>">
              </a>
            </blockquote>
          </div>
          <% end %>
        </div>
      </div>

      <!-- RSS Feed -->
      <div class="rssfeed col-md-4" style="height: 64vh;">
        <div class="title">
          <h1>RSS Feed</h1>
        </div>
        <div class="rss-border">
        <%= form_for @rss_feed do |f| %>
        <div class="field">
          <%= f.label :url %><br>
          <%= f.text_field :url %>
        </div>
        <div class="actions">
          <%= f.submit %>
          <% end %>
        </div>
      </div>
        <% @news_rsses.order("RANDOM()").last(20).each do |news| %>
        <div class="rss_container" storyType="RS" pubDate="<%= news.pub_date %>" headline="<%= news.headline %>" url="<%= news.url %>" picUrl="<%=news.pic_url%>" SourceName ="<%=news.source_name%>">
          <div class="story_container">
            <div class='media'>
              <div class='media-body'>
                <h2 class='media-heading'><a href='<%=news.url%>'>'<%=news.headline%>'</a></h2>
                <p><%=news.source_name%></p><p><%=news.pub_date%></p><p><%=news.summary%>
              </div>
              <div class='media-left'>
                <a href='<%=news.url%>'><img class='media-object' src='<%=news.pic_url%>'></a>
              </div>
            </div>
          </div>
        </div>
          <%end%>
      </div>

      <!-- Topic selection -->
      <div class="col-md-4">
        <div class="title">
          <h1>Topic Title</h1>
        </div>

        <div class="topics-border">
          <div id="topic" data-topic-url="<%= sort_topics_path %>">
            <% @topics.each do |t| %>
            <div class='topic_container'>
              <p class="word-wrapping topicID" id="topic_<%= t.id %>" data-topicID="<%= t.id %>" style="padding:5px 0;">
                <% if t.name != "Home" %>
                  <%= link_to t.name, t %>
                <% else %>
                  <%= link_to t.name, root_path %>
                <% end %>
                <%= link_to 'X', topic_path(t), method: :delete, class: 'btn btn-danger btn-xs' unless t.name == "Home" %>
              </p>
            </div>
            <% end %>
          </div>

          <!-- New Topic form -->
          <div class="new_topic">
            <%= form_for(@topic, remote: true, url: 'topics/new') do |f| %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.submit 'New Topic', class: 'btn btn-success' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
